<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        {% if site.github_username %}
          <a href="https://github.com/{{site.github_username}}" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.email %}
          <a href="mailto:{{site.email}}" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> 
        {% endif %}
        {% if site.zhihu_username %}
          <a href="https://www.zhihu.com/people/{{site.zhihu_username}}" title="Zhihu"><i class="iconfont icon-daoruzhihu"></i></a> 
        {% endif %}
        {% if site.linkedIn_username %}
          <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
        {% endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description_footer | escape }}</p>
      </div>
    </div>

  </div>

</footer>
