/**
 * Page content
 */

.page-clearfix {
  display: block;
  flex: 1 0 auto;

  time {
    display: inline-block;
    width: 135px;
    color: #7e7e7e; 
  }

  .p-author {
    display: inline-block;
    width: 135px;
    color: #7e7e7e; 

    .fa { 
      margin-right: 5px;
    }
  }
  
  ul.category {
    margin-left: 0;
    list-style: none;
  
    li {
      display: list-item;
      margin-bottom: $spacing-unit;
      .title { 
        font-weight: bold;
        transition: 0.3s ease;
        color: #223253;
      }
    }
  }
  
  .post {
    padding: 20px 30px 20px 30px;
    box-shadow: 0 0 3px #7e7e7e;
    margin-bottom: $spacing-unit * 2;
    border-radius: 2px;
    background-color: #fff;
  }

  .post-meta {
    font-size: $small-font-size;
  }
  
  .post-link {
    display: block;
    color: $text-color;
    background-color: #fff;
    @include relative-font-size(1.5);
  }

  .post-list {
    list-style: none;
    margin-left: 0;
    border-radius: 2px;
    li {
      padding: 0.2em 1.5em 1em 1.5em;
      box-shadow: 0 0 3px #7e7e7e;
      margin-bottom: $spacing-unit * 2;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: $spacing-unit 0;
  }

  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }

}
